* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Ubuntu Mono';
    height: 100vh;
    overflow-y: hidden;
    background-color: #f1f1f1;
    display:flex;
    flex-direction: column; /* Stacks header on top of text */
    align-items: center;    /* Centers the 80vw text box horizontally */
    margin: 0;
  }

  .section-title {
    font-size: 20px;
    font-weight: bold;
  }

  button {
    font: inherit;
  }
  
  .header {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: 20px;
    min-height: 50px;
    width: 100%;
    background-color: rgb(145, 201, 236);
  }
  .textbox {
    font-size: 20px;
    display: flex;         
    justify-content: center;
    align-items: center;  
    padding-top: 20px;  
    min-height: 50px; 
    text-align: center;
    width: 80vw;
    margin: 0 auto;
  }
  button {
    display: block;
    position: absolute;
    bottom: 10vw;
    left: 50vh;
    margin: 0 auto;
    border: navy;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color:rgb(145, 201, 236);
    padding: 10px 20px;
  }
  