* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Ubuntu Mono';
    font-size: 15px;
    height: 100vh;
    overflow-y: hidden
  }

  .section-title {
    font-size: 20px;
    font-weight: bold;
  }

  button {
    font: inherit;
  }
  
  .header {
    background-color: #f1f1f1;
    flex: 1;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    height: 60px;
  }
  
  .column.left {
    width: 280px;
    min-width: 280px;
    overflow: hidden;
  }
  
  .column.middle {
    flex-grow: 1;
    transition: flex-grow 0.3s ease;
    min-width: 0;
  }

  #canvas {
    flex-grow: 2;
  }

  img {
    object-fit: contain;
    width: 260px
  }

  .indent {
    text-indent: 20px;
  }

  .column.right {
    width: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.3s ease;
    min-width: 0px;
  }
  
  .activity {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 40px;
    max-height: 530px;
  }

  .hidden {
    width: 0px !important; 
    padding: 0px !important; 
    display: none;
  }

  .atom-content {
    margin-left: 5px;
    padding: 5px;
    overflow-y: auto;
  }

  .error-content {
    margin-top: 20px;
    margin-left: 5px;
    padding: 5px;
    overflow-y: auto;
  }

  .bond-length-content {
    padding: 5px;
    margin-left: 5px;
    overflow-y: auto;
  }

  #start {
    position: relative; 
    padding: 10px;
    max-height: 90%;
    top: 30px;
    bottom: 20%;
    overflow-y: auto;
  }

  .row {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: clip
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
  }
  
  .label {
    margin-left: 25px;
    position: absolute;
    color: black; 
    font-family: serif; 
    font-size: 12px; 
    pointer-events: none; 
  }

  .button-container {
    display: flex;
    position: absolute;
    padding: 5px;
  }

  .button-container.top {
    justify-self: right;
  }

  #hide-questions {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #999;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .bottom {
    bottom: 0;
  }

  .button-container button {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .button-container-hide-questions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 70px;
    right: 12px;
}

  #mol-gui {
    background-color: inherit;
    color: black;
    --widget-color: #949494;
    --hover-color: #7C7C7C
  }

  .tab-rep button {
    font-size: 17px;
  }

  .lil-gui {
    width: 100% !important;
    font-family: 'Ubuntu Mono';
    font-size: 13px;
  }

  .lil-gui button {
    font-family: 'Ubuntu Mono';
    font-size: 15px;
  }

  .within-container {
    display: flex;           
    gap: 0px;              
    align-items: center;   
}

#help-button {
  margin-right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #50555a;  
  color: white;               
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#help-button:hover {
  background-color: #1c1d1e;  
}

.help-menu {
  display: none;
  position: relative;
  left: 10px; 
  bottom: 20px;
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 260px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  z-index: 1000;
  max-height: 200px;        
  overflow-y: auto;
}

.tab-selection-method {
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  background-color: #7C7C7C;
}

.tab-rep {
  width: 100%;  
  overflow-x: auto; 
  white-space: nowrap; 
  display: flex;
  align-items: center;
  scrollbar-width: none;  
  background-color: #7C7C7C;
}

.tab-selection-method button {
  background-color: #7C7C7C;
  border: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 2px 5px;
  margin: 0;
}

.tab-rep button {
  background-color: #7C7C7C;
  border: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 2px 5px;
  margin: 0;
}

.tab-selection-method button.active {
  background-color: #5D5D5D;
}

.tab-rep button.active {
  color: white;
  background-color: #1F1F1F; 
}

.tab-link-rep.active {
  background-color: #1F1F1F; 
}

.distance .controller > .name {
  min-width: 0px; 
}

.distance {
  display: flex;
  gap: 20px; 
}

.tab-content-selection-method {
  padding: 1px 2px;
  border: none;
  margin: 5px;
}

.tab-content-rep {
  border: none;
}

.selection-option {
  background-color: #5D5D5D;
  margin: 10px;
}

.controller.option {
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mol-rep-option {
  padding: 5px;
}

.text {
  padding: 5px;
  margin: 0px;
  font-size: 15px;
}

.title {
  display: none;  
}

.children {
  display: none; 
}

#loading-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: white;
  display: none;
}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  /* @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  } */